<footer class="site-footer">
	<div class="footer-grid">
		<div class="footer-column">
			<div class="footer-heading">TMI-WEB</div>
			<p class="footer-text">Ethically open sourced with the <%= link_to "Hippocratic License (HL3-CORE)", "https://firstdonoharm.dev/version/3/0/core.html" %>. <a href="https://github.com/identity-research-lab/tmi-web-beta">Source code is freely available for reading, remixing, and reusing.</a></p>
		</div>
		<div class="footer-column">
      <ul>
        <li class="footer-heading">Active Project</li>
        <li><%= link_to "Dashboard", projects_path %></li>
        <li><%= link_to "Cases", personas_path %></li>
        <li><%= link_to "Survey Items", survey_items_path %></li>
        <li><%= link_to "Code Metrics", "#" %></li>
        <li><%= link_to "Codes", "#" %></li>
        <li><%= link_to "Categories", "#" %></li>
        <li><%= link_to "Themes", "#" %></li>
        <li><%= link_to "Graph", "#" %></li>
        <li><%= link_to "Search", "#" %></li>
      </ul>
		</div>

		<div class="footer-column">
      <ul>
        <li class="footer-heading">Information</li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Use Cases", "#" %></li>
        <li><%= link_to "Contribute", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
      </ul>
		</div>

    <div class="footer-column">
      <ul>
        <li class="footer-heading">Resources</li>
        <li><%= link_to "Instructional Guides", "#" %></li>
        <li><%= link_to "Scholarship", "#" %></li>
      </ul>
    </div>
	</div>

	<div class="footer-bottom">
		<span>&copy; Copyright <%= Date.today.year %> <a href="https://identityresearchlab.com">IDentity Research Lab</a>.</span>
		<span class="footer-separator"></span>
		<span>Qualitative Depth · Computational Scalability</span>
	</div>

</footer>
