<header class="top-header">
	<div class="brand">
		<a href="/" class="logo" aria-label="TMI-WEB home">
			<%= image_tag "tmi-logo.svg", alt: "TMI-WEB", class: "logo-image" %>
		</a>
		<div class="tagline">
			Real people.<br>
			Complex identities.<br>
			Situated experiences.<br>
			<span class="tagline-emphasis">Intersectional Data Analysis</span>
		</div>
	</div>

	<nav class="top-nav" id="top-nav" aria-label="Utility navigation">
		<a href="#" class="button">TMI-WEB Instructional Guides</a>
	</nav>
	<button class="mobile-menu" type="button" aria-label="Open menu" aria-expanded="false" aria-controls="top-nav">☰</button>
</header>

<nav class="mobile-nav hidden">
	<a href="#" class="button">TMI-WEB Instructional Guides</a>
	<ul>
		<li><div class="mobile-divider"></div></li>
		<li><div class="mobile-project-label">Active Project:</div></li>
		<li><%= link_to "Dashboard", projects_path %></li>
		<li><%= link_to "Cases", personas_path %></li>
		<li><%= link_to "Survey Items", survey_items_path %></li>
		<li><a href="#">Code Metrics</a></li>
		<li><a href="#">Codes</a></li>
		<li><a href="#">Categories</a></li>
		<li><a href="#">Themes</a></li>
    <li><%= link_to "Journal", journal_path(Journal.new) %></li>
		<li><a href="#">Graph</a></li>
	</ul>
</nav>

<nav class="content-nav" aria-label="Active project navigation">
  <% active_nav = content_for?(:active_nav) && content_for(:active_nav) %>
	<ul>
		<li><span class="tabs-label">Active Project → </span></li>
		<li class="<%= active_nav == "dashboard" ? 'active-nav' : '' %>"><%= link_to "Dashboard", projects_path %></li>
		<li class="<%= active_nav == "cases" ? 'active-nav' : '' %>"><%= link_to "Cases", personas_path %></li>
		<li class="<%= active_nav == "survey_items" ? 'active-nav' : '' %>"><%= link_to "Survey Items", survey_items_path %></li>
		<li class="<%= active_nav == "code_metrics" ? 'active-nav' : '' %>"><%= link_to "Code Metrics", code_metrics_path %></li>
		<li class="<%= active_nav == "codes" ? 'active-nav' : '' %>"><a href="#">Codes</a></li>
		<li class="<%= active_nav == "categories" ? 'active-nav' : '' %>"><%= link_to "Categories", categories_path %></li>
		<li class="<%= active_nav == "themes" ? 'active-nav' : '' %>"><a href="#">Themes</a></li>
    <li class="<%= active_nav == "journal" ? 'active-nav' : '' %>"><%= link_to "Journal", journal_path(Journal.new) %></li>
    <li class="<%= active_nav == "search" ? 'active-nav' : '' %>"><%= link_to "Search", searches_path %></li>
		<li class="<%= active_nav == "graph" ? 'active-nav' : '' %>"><a href="#">Graph</a></li>
	</ul>
</nav>

<%- if content_for?(:title_label) %>
	<section class="subpage-header">
		<div class="subpage-label"><%= content_for?(:title_label) ? content_for(:title_label) : "" %></div>
		<h2 class="subpage-title"><%= content_for?(:title_headline) ? content_for(:title_headline) : content_for(:title) %></h2>
	</section>
<%- end %>
