<%- title "Edit Project" %>

<section class="app-header dashboard-hero">

<div class="app-header-copy">
  <div class="app-label">
    <%= @project.name %> · <span class="app-label-dense">Dashboard</span>
  </div>
  
  <h1 class="app-title">Project Details</h1>
  
  <p class="app-description">
    CONTEXT
  </p>
  <p class="app-description">
    INSTRUCTIONS
  </p>
  
</div>
</section>

<section class="dashboard-section">
  <div>
    <div class="app-label">Survey Fields</div>
    <h2 class="workspace-title">Review Survey Fields</h2>
    <p class="workspace-note">
      SET UP INSTRUCTIONS
    </p>
  </div>
</section>

<section class="dashboard-section">
  <%= form_with model: @project do |f| %>
    <%= f.file_field :csv_data, accept: ".csv,text/csv" %>
    <%= f.submit "Upload", style: "button small" %>
  <% end  %>
</section>
  
<section class="dashboard-section">

  <div>
    <div class="form-group"
      <%= form_with model: @project, url: project_path do |f| %>
        <%= f.label :participant_id_field, "Partipant ID field" %>
        <%= f.select :participant_id_field, options_from_collection_for_select(@project.survey_items.order(:csv_header), 'id', 'csv_header'), include_blank: true, class: "app-select-fitted" %>
      <% end %>
    </div>

    <table class="survey-table">
      <thead>
        <tr>
          <th>CSV Header</th>
          <th>Label</th>
          <th>Dimension</th>
          <th>Prompt</th>
          <th>Type</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <% @project.survey_items.order(:csv_header).each do |survey_item| %>
          <%= render partial: "survey_items/form", locals: { survey_item: survey_item } %>
        <% end %>
      </tbody>
    </table>
    
  </div>

</section>
