<%- title "Edit Project" %>

<section class="app-header dashboard-hero">
  <div class="app-header-copy">
    <div class="app-label">
      <%= @project.name %> · <span class="app-label-dense">Dashboard</span>
    </div>
    <h1 class="app-title">Project Data</h1>
    <p class="app-description">
      CONTEXT
    </p>
    <p class="app-description">
      INSTRUCTIONS
    </p>
  </div>
  <div>
    <a href="#" class="button small secondary dashboard-template-button">
      Download TMI-WEB Survey Template
    </a>
  </div>
</section>

<section class="dashboard-section">
  <div>
    <h2 class="workspace-title">Upload Survey Data</h2>
    <p class="workspace-note">
      Make sure that your data file includes a participant_id column with a unique identifier for each row.
    </p>
    <ul class="dashboard-actions">
      <li>
        <%= form_with model: @project do |f| %>
          <%= f.file_field :csv_data, accept: ".csv,text/csv" %><br />
          <%= f.submit "Upload", class: "button small secondary" %>
        <% end  %>
      </li>
    </ul>
  </div>
</section>

<% if @project.survey_items.any? %>
  <section class="dashboard-section">
    <div>
      <h2 class="workspace-title">Import Survey Responses</h2>
      <p class="workspace-note">
        Once your survey fields are configured, you can load survey responses into the graph.
      </p>
      <%= render partial: "survey_responses/form", locals: { project: @project } %>
    </div>
  </section>
<% end %>

<section class="dashboard-section">
  <div>
    <h2 class="workspace-title">Configure Survey Fields</h2>
    <p class="workspace-note">
      Configure how TMI-WEB maps columns in your uploaded data file to fields in the database.
    </p>
    <div class="schema-grid">
      <% @project.survey_items.order(:csv_header).each do |survey_item| %>
        <%= render partial: "survey_items/form", locals: { survey_item: survey_item, dimensions: @dimensions_for_select } %>
      <% end %>
    </div>
  </div>
</section>
