<%- title "Edit Project" %>

<section class="app-header dashboard-hero">

<div class="app-header-copy">
  <div class="app-label">
    <%= @project.name %> · <span class="app-label-dense">Dashboard</span>
  </div>

  <h1 class="app-title">Project Details</h1>

  <p class="app-description">
    CONTEXT
  </p>
  <p class="app-description">
    INSTRUCTIONS
  </p>

</div>
</section>

<section class="dashboard-section">
  <div>
    <div class="app-label">Survey Data</div>
    <h2 class="workspace-title">Review Survey Data</h2>
    <p class="workspace-note">
      SET UP INSTRUCTIONS
    </p>
  </div>
</section>

<section class="dashboard-section">
  <% if @project.survey_items.any? %>
    <%= render partial: "survey_responses/form", locals: { project: @project } %>
  <% else %>
    <p>
      Once your survey fields are configured, you can load survey responses into the graph.
    </p>
  <% end %>
</section>

<section class="dashboard-section">
  <%= form_with model: @project do |f| %>
    <%= f.file_field :csv_data, accept: ".csv,text/csv" %>
    <%= f.submit "Upload", style: "button small" %>
  <% end  %>
</section>

<section class="dashboard-section">

  <div>
    <table class="survey-table">
      <thead>
        <tr>
          <th>CSV Header</th>
          <th>Label</th>
          <th>Prompt</th>
          <th>Dimension</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @project.survey_items.order(:csv_header).each do |survey_item| %>
          <tr>
            <%= render partial: "survey_items/form", locals: { survey_item: survey_item } %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</section>
