<%= turbo_frame_tag "frame-survey-responses" do %>

  <% if true %>

      <div class="project-change-summary has-changes" aria-label="Apply analysis schema changes">
        <div class="project-change-summary-copy">
          <span class="project-change-status">Analysis schema changes pending</span>
          <p>
            Changes to labels, dimensions, or analysis states must be applied before they affect the project. Apply when you are ready to update the project.
          </p>
          <p>
             Project data was last refreshed <%= distance_of_time_in_words(@project.refreshed_at || DateTime.now, DateTime.now) %> ago.
          </p>
        </div>
        <%= form_with model: @project, format: :turbo_stream, data: { turbo_stream: true, turbo_frame: "frame-survey-responses }" } do |f| %>
          <%= f.hidden_field :refresh_started_at, value: DateTime.now %>
          <%= f.submit "Apply Project Changes", class: "project-apply-button" %>
        <% end %>
      </div>
  
  <% end %>
  
  <% if true || @project.refresh_in_progress %>

    <div class="project-change-summary has-changes" aria-label="Apply analysis schema changes">
      <div class="project-change-summary-copy">
        <span class="project-change-status">Changes being applied</span>
        <p>
          Survey responses are being updated. This may take several minutes depending on the size of your dataset. Started <%= distance_of_time_in_words(@project.refresh_started_at, DateTime.now, include_seconds: true) %> ago.
        </p>
        <%= link_to "Refresh Status", edit_project_path(@project), id: "refresh-status", class: "hidden" %>
        <div class="progress-bar-track">
          <div class="progress-bar" style="width: 75%;"></div>
        </div>
      </div>   
      <%= form_with model: @project, format: :turbo_stream, data: { turbo_stream: true, turbo_frame: "frame-survey-responses }" } do |f| %>
        <%= f.hidden_field :refresh_in_progress, value: false %>
        <%= f.submit "Cancel", class: "project-apply-button" %>
      <% end %>
      
      <script language="javascript">
        setTimeout(() => {
          const elem = document.getElementById('refresh-status')
          elem.click()
        }, 5000);  // Waits for 5000 milliseconds (5 seconds)
      </script>
    </div>
  
  <% end %>

  <% if true %>
  
      <div class="project-change-summary has-changes" aria-label="Analysis schema changes applied">
        <div class="project-change-summary-copy">
          <span class="project-change-status">Analysis schema changes applied</span>
          <p>
             Project data was last updated <%= distance_of_time_in_words(@project.refreshed_at || DateTime.now, DateTime.now) %> ago.
          </p>
        </div>
      </div>
  
  <% end %>

<% end %>
