<% if @project.refresh_in_progress %>
  <p>
    Survey responses loading in progress. This may take several minutes depending on the size of your dataset. Started <%= distance_of_time_in_words(@project.refresh_started_at, DateTime.now, include_seconds: true) %> ago.
  </p>
<% else %>
  <p>
    Survey responses were last refreshed <%= distance_of_time_in_words(@project.refreshed_at || DateTime.now, DateTime.now) %> ago.
  </p>
  <%= form_with model: @project, format: :turbo_stream, data: { turbo_stream: true, turbo_frame: "frame-survey-responses }" } do |f| %>
      <%= f.hidden_field :refresh_started_at, value: DateTime.now %>
      <%= f.submit "Load Responses", style: "button small" %>
  <% end %>
<% end %>
