<tr>
  <% if embedded_in == "survey_item" %>
    <td>
      <span class="survey-item-name"><%= link_to survey_response.persona.formatted_identifier, survey_response.persona %></span>
      <span class="survey-item-type">Participant case record</span>
    </td>
  <% else %>
    <td>
    <span class="survey-item-name"><%= link_to survey_response.survey_item.formatted_identifier, survey_response.survey_item %>: <%= survey_response.survey_item.label %></span>
    <span class="survey-item-type">Survey Item</span>
  </td>
  <% end %>
  <td>
    <p class="verbatim-response"><%= survey_response.value %></p>
  </td>
  <td>
    <div class="codes-editor">
      <div class="code-tags">
        <% survey_response.coded_experiences.each do |code| %>
          <span class="tag"><%= code.name %></span>
        <% end %>
      </div>
      <button class="add-code-link">Edit codes</button>
    </div>
  </td>
</tr>
