<tr>
  <% if embedded_in == "survey_item" %>
    <td>
      <span class="survey-item-name"><%= link_to survey_response.persona.formatted_identifier, survey_response.persona %></span>
      <span class="survey-item-type">Participant case record</span>
    </td>
  <% else %>
    <td>
    <span class="survey-item-name"><%= link_to survey_response.survey_item.formatted_identifier, survey_response.survey_item %></span>
    <span class="survey-item-type">Survey Item</span>
  </td>
  <% end %>
  <td>
    <p class="verbatim-response"><%= survey_response.value %></p>
  </td>
  <td>
    <div class="codes-editor">
      <div class="code-tags">
        <% survey_response.codes.each do |code| %>
          <span class="tag"><%= code.name %></span>
        <% end %>
      </div>
      <%= form_for Code.new do |f| %>
        <%= f.hidden_field :survey_response, value: survey_response.id %>
        <%= f.text_field :name, class: "tag" %>
      <% end %>
    </div>
  </td>
</tr>
