<%= turbo_frame_tag "frame-survey-responses" do %>

  <% if @project.refresh_in_progress %>
    <p>
      Survey responses loading in progress. This may take several minutes depending on the size of your dataset. Started <%= distance_of_time_in_words(@project.refresh_started_at, DateTime.now, include_seconds: true) %> ago.
    </p>
    <%= link_to "Refresh Status", edit_project_path(@project), id: "refresh-status", class: "hidden" %>

    <div class="progress-bar-track">
      <div class="progress-bar" style="width:<%= (@project.progress * 100).round(0) %>%;"></div>
    </div>

    <ul class="dashboard-actions">
      <li>
        <%= form_with model: @project, format: :turbo_stream, data: { turbo_stream: true, turbo_frame: "frame-survey-responses }" } do |f| %>
          <%= f.hidden_field :refresh_in_progress, value: false %>
          <%= f.submit "Cancel", class: "button small secondary" %>
        <% end %>
      </li>
    </ul>

    <script language="javascript">
      setTimeout(() => {
        const elem = document.getElementById('refresh-status')
        elem.click()
      }, 5000);  // Waits for 5000 milliseconds (5 seconds)
    </script>
  <% else %>
    <p>
      Survey responses were last refreshed <%= distance_of_time_in_words(@project.refreshed_at || DateTime.now, DateTime.now) %> ago.
    </p>

    <ul class="dashboard-actions">
      <li>
        <%= form_with model: @project, format: :turbo_stream, data: { turbo_stream: true, turbo_frame: "frame-survey-responses }" } do |f| %>
          <%= f.hidden_field :refresh_started_at, value: DateTime.now %>
          <%= f.submit "Load Responses", class: "button small secondary" %>
        <% end %>
      </li>
    </ul>
  <% end %>

<% end %>
