<%= form_with model: survey_item, format: :turbo_stream, class: "survey-item-form",
data: { turbo_stream: true } do |f| %>

  <div class="schema-row">
    <div class="schema-cell form-group"><label>CSV header</label><%= survey_item.csv_header %></div>
    <div class="schema-cell form-group">
        <label for="label">Label</label>
      <%= f.text_field :label, value: survey_item.label %>
    </div>
    <div class="schema-cell form-group">
      <label for="prompt">Prompt</label>
      <%= f.text_area :prompt, value: survey_item.prompt %>
    </div>
    <div class="schema-cell">
      <div class="form-group">
        <label for="dimension">Dimension</label>
        <%= f.select :dimension_id, options_from_collection_for_select(dimensions, 'id', 'name', survey_item.dimension_id), include_blank: true %>
      </div>
      <div class="radio-row">
        <%= f.radio_button :item_kind, "experience", checked: survey_item.is_experience %><%= f.label :item_kind_experience, "experience" %>
      </div>
      <div class="radio-row">
        <%= f.radio_button :item_kind, "identity", checked: survey_item.is_identity %><%= f.label :item_kind_identity, "identity" %>
      </div>
      <div class="radio-row">
        <%= f.radio_button :item_kind, "reflection", checked: survey_item.is_reflection %><%= f.label :item_kind_reflection, "reflection" %>
      </div>
    </div>
    <div class="schema-cell form-group">
      <label for="is_active">Active</label>
      <%= f.checkbox :is_active, checked: survey_item.is_active %>
    </div>
  </div>
<% end %>
