<!DOCTYPE html>
<html>
  <head>
    <title>TMI-WEB <%= content_for?(:title) ? "| #{content_for(:title)}" : "" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="TMI-WEB Beta">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="page">
      <%= render "shared/header" %>

      <main>

<%- if content_for?(:title_label) %>
        <section class="subpage-header">
          <div class="subpage-label"><%= content_for?(:title_label) ? content_for(:title_label) : "" %></div>
          <h2 class="subpage-title"><%= content_for?(:title_headline) ? content_for(:title_headline) : content_for(:title) %></h2>
        </section>
      <%- end %>



        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
